@import '../../../sass/mixins.scss';
@import '../../../sass/variables.scss';

/*
    article detail page ////////////////////////////////////////////////////////////////////////////////////////////////
 */

#article-detail-wrap {
  @include flex();
  justify-content: space-between;
}

.article-image-wrap{
  flex:1;
}

#article-detail-content {
  flex: 1;
  padding: 0 0 0 25px;
}
.article-detail-nr, .article-detail-availability, .article-detail-price {
  padding: 15px 0 0 0;
}

.article-detail-rating {
  padding: 15px 0 0 0;
}

.article-detail-nr span {
  color: $orange;
}
.article-detail-price {
  @include font-size(2.6);
  padding:15px 0;

}

.available {
  color: $green;
}

.slideshow {
  width: 100%;
  height: 500px;
}
.slideshow-icons {
  @include font-size(1.6);
  text-align: center;
  padding: 10px 0 0 0;
  width: 100%;

}

@media screen and (max-width: 475px) {
  .slideshow {
    width: 100%;
    height: 250px;
  }
}
.slideshow-icons  .fab {
  padding: 0 10px;
}
@media screen and (max-width: 852px) {
  #article-detail-wrap {
    flex-direction: column;
  }
  #article-detail-content {
    padding: 25px 0 0 0;
  }

}

.article-like {
  display: block;
  cursor: pointer;

  .fas {
    color: $green;
    &:hover {
      color: $font-color;
    }
  }
}

