<div class="row">
  <h2>{{articleDetails[0]?.brand}}</h2>
  <div id="article-detail-wrap">
    <picture>
      <source media="(min-width: 475px)" srcset="{{imageURL + articleDetails[0]?.imageURL}}">
      <source media="(min-width: 320px)" srcset="{{imageURL + articleDetails[0]?.imageURL}}">
      <figure>
        <img src="{{imageURL + articleDetails[0]?.imageURL}}" width="100%" height="auto">
        <figcaption>Teile diesen Artikel auf
          <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="#" target="_blank"><i class="fab fa-pinterest"></i></a>
        </figcaption>
      </figure>
    </picture>
    <div id="article-detail-content">
      <h4>{{articleDetails[0]?.name}}</h4>
      <p>{{articleDetails[0]?.description}}</p>
      <p class="article-detail-nr">Artikel Nr. <span>{{articleDetails[0]?.itemNumber}}</span></p>
      <p *ngIf='articleDetails[0]?.availability'  class="article-detail-availability available" >Ab Lager verfügbar</p>
      <p *ngIf='!articleDetails[0]?.availability'  class="article-detail-availability available" >In 3 Wochen lieferbar</p>
      <p class="article-detail-price">CHF {{articleDetails[0]?.price}}</p>
      <p>
        <select id="article-amount">
          <option value="">--Bitte Anzahl auswählen--</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </p>
      <p><button class="btn form-btn"><i class="fas fa-shopping-cart"></i>In den Warenkorb</button></p>
      <p><a href="#" class="continue-shopping">Weiter Einkaufen</a></p>
    </div><!-- end #article-detail-content -->
  </div><!--- end #article-detail-wrap -->

</div><!-- end .row -->
