@import '../../../sass/mixins.scss';
@import '../../../sass/variables.scss';

/*
    article detail page ////////////////////////////////////////////////////////////////////////////////////////////////
 */

.article-detail-wrap {
  @include flex();
  justify-content: space-between;
}

.article-image-wrap {
  flex:1;
}

.article-detail-content {
  flex: 1;
  padding: 0 0 0 25px;
}
.article-detail-nr, .article-detail-availability, .article-detail-price {
  padding: 15px 0 0 0;
}

.article-detail-rating {
  padding: 15px 0 0 0;
}

.article-detail-nr {
  span {
    color: $orange;
  }
}
.article-detail-price {
  @include font-size(2.6);
  padding:15px 0;

}

.available {
  color: $green;
}

@media screen and (max-width: 852px) {
  .article-detail-wrap {
    flex-direction: column;
  }
  .article-detail-content {
    padding: 25px 0 0 0;
  }

}

.article-like {
  display: block;
  cursor: pointer;

  .fas {
    color: $green;
    &:hover {
      color: $font-color;
    }
  }
}

/*
    article detail page ////////////////////////////////////////////////////////////////////////////////////////////////
 */

.slideshow {
  position: relative;
  width: 100%;
  height: 500px;
}

.slideshow-icons {
  @include font-size(1.6);
  text-align: center;
  padding: 10px 0 0 0;
  width: 100%;

}

@media screen and (max-width: 475px) {
  .slideshow {
    width: 100%;
    height: 250px;
  }
}
.slideshow-icons {
  .fab {
    padding: 0 10px;
  }
}
.article-detail-img {
   img {
    vertical-align: middle;
  }
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

