<ul class="breadcrumb">

  <li><a  routerLink="/home">Home</a></li>

  <ng-container *ngIf="breadcrumbService.breadcrumbPath[0].mainUrl !== '' ">
    <li><a  routerLink="/{{breadcrumbService.breadcrumbPath[0].mainUrl}}">{{breadcrumbService.breadcrumbPath[0].breadcrumbTranslated}}</a></li>
  </ng-container>

  <ng-container *ngIf="breadcrumbService.breadcrumbPath[0].mainUrl == '' ">
    <li>{{breadcrumbService.breadcrumbPath[0].breadcrumbTranslated}}</li>
  </ng-container>

  <ng-container *ngIf="breadcrumbService.firstParam !== 'undefinied' ">
    <li>{{breadcrumbService.firstParam | detrim}}</li>
  </ng-container>
</ul>

