@import '../../../sass/mixins.scss';
@import '../../../sass/variables.scss';


/*
    breadcrumb  ////////////////////////////////////////////////////////////////////////////////////////////////
 */
.breadcrumb {
  margin: 0 0 15px 0;
  a {
    @include font-size($sizeValue:1.6);
  }
  li {
    display: inline-block;
    a {
      @include font-size($sizeValue:1.6);
      &:after {
        content: '>';
        line-height: inherit;
        vertical-align: baseline;
        margin: 0 5px 0 5px;
      }
    }
  }
}
