<ul class="breadcrumb">

  <li><a  routerLink="/">{{'HOME' | translate}}</a></li>

  <ng-container *ngIf="breadcrumbTranslationService.breadcrumbPath[0].mainUrl !== '' ">
    <li><a  routerLink="/{{breadcrumbTranslationService.breadcrumbPath[0].mainUrl}}">{{breadcrumbTranslationService.breadcrumbPath[0].breadcrumbTranslated}}</a></li>
  </ng-container>

  <ng-container *ngIf="breadcrumbTranslationService.breadcrumbPath[0].mainUrl == '' ">
    <li>{{breadcrumbTranslationService.breadcrumbPath[0].breadcrumbTranslated}}</li>
  </ng-container>

  <ng-container *ngIf="breadcrumbTranslationService.firstParam !== 'undefinied' ">
    <li>{{breadcrumbTranslationService.firstParam | detrim}}</li>
  </ng-container>
</ul>

