@import '~@angular/material/theming';
@import 'variables.scss';
@import 'mixins.scss';
/*
    angular material elements ////////////////////////////////////////////////////////////////////////////////////////////////////////////
 */


app-root {
  display: block;
  width: 100%;
}

ul.ngx-pagination {
  display: block;
  text-align: center;
}

.ngx-pagination .current {
  background: $green !important;

}

.checkout-field > .mat-form-field-wrapper {
  padding: 15px 0 15px 12px;
}

.mat-form-field {
  font-weight: $font-weight-light;
}


.mat-form-field-infix {
  @include font-size($sizeValue:1.4);
  border: 0 solid transparent;
}

.checkout-field > .mat-form-field-infix {
  padding: 0;
}

.login-form-wrap .mat-form-field-infix {
  min-width: 250px;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: $green;
}

input.mat-input-element, .mat-select-value-text {
  @include font-size($sizeValue:1.8);
  margin-top: 0.0625em;
}

.overview-input .mat-form-field-infix {
  padding: 10px 0 0 0;
}

.mat-option-text a {
  display: block;
  width: 100%;
}

.mat-menu-content:not(:empty){
  padding: 15px;
}

.mat-menu-content ul li  {
  @include base-font-style();
  padding: 10px 0;
  border-bottom: 1px solid #cccccc;
}

.mat-menu-content p {
  @include base-font-style();

}

a button.mat-menu-btn {
  @include base-font-style();
}

.overview-price {
  margin: 0 0 0 20px;
}

.mat-vertical-stepper-content {
  overflow: visible;
}

.mat-vertical-content-container {
  position: relative;
  margin-left: 45px !important;
  border: 0;
}

.mat-step-label {
  font-size: 2.4rem;
}

.mat-stepper-vertical {
  margin: 0 0 0 -25px;
}

.matStepperPrevious,.matStepperNext, .matStepperReset {
  display: inline-block;
  @include font-size($sizeValue:1.8);
  font-weight: 400;
  width: auto;
  padding: 5px 0;
  color: #000000;
  background-color: transparent;
  cursor: pointer;
  text-align: left;
  margin: 5px 0;
}

.matStepperNext::after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  line-height: inherit;
  vertical-align: baseline;
  content: "\f061";
  margin: 0 0 0 5px;
}

.matStepperPrevious::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  line-height: inherit;
  vertical-align: baseline;
  content: "\f060";
  margin: 0 5px 0 0;
}

.matStepperReset::after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  line-height: inherit;
  vertical-align: baseline;
  content: "\f0e2";
  margin: 0 0 0 5px;
}


.mat-radio-button {
  margin: 0 0 5px 0;
}

.mat-step-icon {
  height: 44px;
  width: 44px;
}

.mat-step-icon-size {
  @include font-size($sizeValue:1.8);
  height: 44px;
  width: 44px;
}

.mat-step-header .mat-step-icon {
  background-color: $green;
  color: $font-color;
  @extend .mat-step-icon-size;
}

.mat-step-header .mat-step-icon-not-touched {
  background-color: $orange;
  color: $font-color;
  @extend .mat-step-icon-size;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow:0 3px 1px -2px rgb(255, 255, 255), 0 2px 2px 0 rgb(255, 255, 255), 0 1px 5px 0 rgb(255, 255, 255) !important;

}
.mat-content {
  flex-flow: row wrap;
}
mat-expansion-panel-header {

}
.mat-expansion-panel-header {
  background-color: $green;
}

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description{
  width: 200px;
  color: rgba(0,0,0,.54);
}

.mat-expansion-panel-body {
  padding: 25px 24px 0 16px !important;
}

@media screen and (max-width: 412px){

.mat-expansion-panel-header-description {
   margin: 5px 0 0 0;
  width: 100%;
  }
  .mat-expansion-panel-header {
    min-height: 50px;
    height: auto !important;
  }
}
