@import 'variables';

/*
    mixins  /////////////////////////////////////////////////////////////////////////////////////////////////////////
 */

@mixin base-font-style(){
      @include font-size(1.8);
      @include line-height(2.4);
}

@mixin font-size($sizeValue:1.8, $important:"") {
  font-size: ($sizeValue * $base-font-size);
  font-size: $sizeValue + rem  + $important;
}

@mixin line-height($heightValue) {
  line-height: ($heightValue * $base-font-size);
  line-height: $heightValue + rem;
}


@mixin slideIn($keyframe, $time, $option, $delay) {
  animation: $keyframe $time+s $option ;
  -webkit-animation: $keyframe $time+s $option;
  animation-delay: $delay+s;
}

@mixin margin($values) {
  @each $var in $values {
    margin: #{$var};
  }
}

@mixin padding($values) {
  @each $var in $values {
    padding: #{$var};
  }
}

/*
    mixins presets  /////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

@mixin flex {
  display: flex;
  flex-flow:row wrap;
  justify-content: center;
}

