/*
    font-size  /////////////////////////////////////////////////////////////////////////////////////////////////////////
 */

$base-font-family: 'Roboto', sans-serif;

$base-font-size: 10px;
$text-font-size: 1.8;
$base-line-height: 14px;

$font-weight-light: 300;
$font-weight-medium: 400;
$font-weight-bold: 500;
$font-weight-medium-bold: 600;
$font-weight-extra-bold: 700;

/*
    colors  /////////////////////////////////////////////////////////////////////////////////////////////////////////
 */

$font-color: #373A3C;
$orange: #f3c1a2;
$green: #95c2b0;
$red: #e11313;

$color-info: $green;
$color-warning: $orange;
$color-error: $red;

/*
    angular material theme colors  /////////////////////////////////////////////////////////////////////////////////////////////////////////
 */

$md-green: (
  50 : #f2f8f6,
  100 : #dfede7,
  200 : #cae1d8,
  300 : #b5d4c8,
  400 : #a5cbbc,
  500 : #95c2b0,
  600 : #8dbca9,
  700 : #82b4a0,
  800 : #78ac97,
  900 : #679f87,
  A100 : #ffffff,
  A200 : #e0fff2,
  A400 : #adffdc,
  A700 : #94ffd1,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-orange: (
  50 : #fef8f4,
  100 : #fbece3,
  200 : #f9e0d1,
  300 : #f7d4be,
  400 : #f5cab0,
  500 : #f3c1a2,
  600 : #f1bb9a,
  700 : #efb390,
  800 : #edab86,
  900 : #ea9e75,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #fff0e8,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-red: (
  50 : #fbe3e3,
  100 : #f6b8b8,
  200 : #f08989,
  300 : #ea5a5a,
  400 : #e63636,
  500 : #e11313,
  600 : #dd1111,
  700 : #d90e0e,
  800 : #d50b0b,
  900 : #cd0606,
  A100 : #fff6f6,
  A200 : #ffc3c3,
  A400 : #ff9090,
  A700 : #ff7676,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-grey: (
  50 : #e7e7e8,
  100 : #c3c4c5,
  200 : #9b9d9e,
  300 : #737577,
  400 : #555859,
  500 : #373a3c,
  600 : #313436,
  700 : #2a2c2e,
  800 : #232527,
  900 : #16181a,
  A100 : #69c8f8,
  A200 : #39b6f5,
  A400 : #00a7fb,
  A700 : #0096e1,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
