/*
    font-size  /////////////////////////////////////////////////////////////////////////////////////////////////////////
 */

$base-font-family: 'Roboto', sans-serif;

$base-font-size: 10px;
$text-font-size: 1.8;
$base-line-height: 14px;

$font-weight-light: 300;
$font-weight-medium: 400;
$font-weight-bold: 500;
/*
    colors  /////////////////////////////////////////////////////////////////////////////////////////////////////////
 */

$font-color: #373A3C;
$orange: #f3c1a2;
$green: #95c2b0;
$red: #e11313;

$color-info: $green;
$color-warning: $orange;
$color-error: $red;
