/*
    font-size  /////////////////////////////////////////////////////////////////////////////////////////////////////////
 */

$base-font-family: 'Roboto', sans-serif;
$base-font-size: 10px;
$base-line-height: 14px;
$font-weight-light: 300;

/*
    colors  /////////////////////////////////////////////////////////////////////////////////////////////////////////
 */

$font-color: #373A3C;
$orange: #f3c1a2;
$green: #95c2b0;
