<footer>
  <div class="row ">
    <div class="col">
      <h3>Kontakt</h3>
      <p>
        Shop Name<br>
        Street name<br>
        4587 City name<br><br>
        <a href="tel:+41 44 123 45 67">T +41 44 123 45 67</a> <br>
        <a href="shop@shopdomain.ch"> E shop@shopdomain.ch</a>
      </p>
    </div><!-- end kontakt -->

    <div class="col">
      <h3>Informationen</h3>

      <ul>
        <li><a href="#">Versand und Zahlungsbedingungen</a> </li>
        <li><a href="#">Allgemeine Geschäftsbedingungen</a> </li>
        <li><a href="#">Datenschutz</a> </li>
        <li><a href="#">Impressum</a> </li>
      </ul>

    </div><!-- end informationen -->

    <div class="col">
      <h3>Zahlungsmöglichkeiten</h3>
      <ul id="payment-logos">
        <li><img src="../assets/logos/paypal.png" width="113" height="30"/> </li>
        <li><img src="../assets/logos/mastercard.png" width="74" height="58" /> </li>
        <li><img src="../assets/logos/visa.png" width="94" height="33" /> </li>
      </ul>
    </div><!-- end Zahlungsmöglichkeiten -->
  </div><!-- end .row -->
  <p id="disclaimer">* Alle Preise inkl. gesetzl. Mehrwertsteuer zzgl. Versandkosten und ggf. Nachnahmegebühren, wenn nicht anders beschrieben </p>
</footer>
