<div class="row">
  <p class="breadcrumb">
  </p>
  <h2>Unsere Artikel</h2>

  <h3 *ngIf="(articles$ | async)?.length==0">Keine Artikel gefunden</h3>

  <div class="product-listing" *ngIf="articles$ | async">

<app-article-template class="product-container"  *ngFor="let item of articles$| async | paginate: { itemsPerPage: 12, currentPage: p }" [article]="item">

</app-article-template><!-- end .product-container -->



  </div><!-- end .product-listing -->
  <pagination-controls
    (pageChange)="p = $event"
    previousLabel="Zurück"
    nextLabel="Weiter"
  ></pagination-controls>


</div><!-- end .row -->
