@import '../../../sass/mixins.scss';
@import '../../../sass/variables.scss';


/*
    article-listing ////////////////////////////////////////////////////////////////////////////////////////////////////////////
 */

.product-listing {
  @include flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 -10px;
}

.product-container {
  padding: 0 10px;
  margin: 0 0 20px 0;
  width: 25%;

}

