<div class="row">
  <h2 class="claim">Blockquote. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit.Blockquote. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit.</h2>
</div><!-- end .row -->
<div class="row">
  <h4>Neu eingetroffen</h4>

  <div class="product-listing">

    <div class="product-container">
      <div class="product-content">
        <img class="product-img" src="../assets/images/product-img.jpg" width="100%" height="auto"/>
        <div class="product-data">
          <p><span class="product-listing-title"> Product title</span><br>
            <span class="product-listing-descr">Product description</span><br>
            <span class="product-listing-price">CHF 22.00</span>
          </p>
          <a class="btn prod-listing" type="button" role="button"  aria-label="Zum Artikel" onclick="handleBtnClick(event)">Zum Artikel</a>

        </div><!-- end .product-data -->

      </div><!-- end .product-content -->
    </div><!-- end .product-container -->

    <div class="product-container">
      <div class="product-content">
        <img class="product-img" src="../assets/images/product-img.jpg" width="100%" height="auto"/>
        <div class="product-data">
          <p><span class="product-listing-title"> Product title</span><br>
            <span class="product-listing-descr">Product description</span><br>
            <span class="product-listing-price">CHF 22.00</span>
          </p>
          <a class="btn prod-listing" type="button" role="button"  aria-label="Zum Artikel" onclick="handleBtnClick(event)">Zum Artikel</a>

        </div><!-- end .product-data -->
      </div><!-- end .product-content -->
    </div><!-- end .product-container -->
    <div class="product-container">
      <div class="product-content">
        <img class="product-img" src="../assets/images/product-img.jpg" width="100%" height="auto"/>
        <div class="product-data">
          <p><span class="product-listing-title"> Product title</span><br>
            <span class="product-listing-descr">Product description</span><br>
            <span class="product-listing-price">CHF 22.00</span>
          </p>
          <a class="btn prod-listing" type="button" role="button"  aria-label="Zum Artikel" onclick="handleBtnClick(event)">Zum Artikel</a>

        </div><!-- end .product-data -->
      </div><!-- end .product-content -->
    </div><!-- end .product-container -->

    <div class="product-container">
      <div class="product-content">
        <img class="product-img" src="../assets/images/product-img.jpg" width="100%" height="auto"/>
        <div class="product-data">
          <p><span class="product-listing-title"> Product title</span><br>
            <span class="product-listing-descr">Product description</span><br>
            <span class="product-listing-price">CHF 22.00</span>
          </p>
          <a class="btn prod-listing" type="button" role="button"  aria-label="Zum Artikel" onclick="handleBtnClick(event)">Zum Artikel</a>

        </div><!-- end .product-data -->
      </div><!-- end .product-content -->
    </div><!-- end .product-container -->
  </div><!-- end .product-listing -->

</div><!-- end .row -->

<div class="row">
  <h2 class="claim">Blockquote. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit.Blockquote. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit.</h2>
</div><!-- end .row -->
<div class="row">
  <div class="frontpage-content-row clearfix">

    <div class="frontpage-content-img float-left">
      <img src="https://shop.bellavista-ethz.ch/lunch/wp-content/uploads/sites/2/2018/05/223_bilder_startseite_525x350.jpg" width="100%" height="auto">
    </div><!-- .frontpage--content--img -->
    <div class="frontpage-content-text float-left">
      <h3>DIE IDEE</h3>
      <p>Das Bicicletta ist der Lunchkurier vom Bellavista und bringt Dir schnell und unkompliziert deinen Zmittag. Unser ganzes Angebot ist frisch und hausgemacht. Wir verrechnen keine Lieferkosten und haben keine Mindestbestellmenge.</p>
    </div><!-- .frontpage--content-text -->
  </div><!-- .frontpage--content--row -->
  <div class="frontpage-content-row">

    <div class="frontpage-content-img float-right">
      <img src="https://shop.bellavista-ethz.ch/lunch/wp-content/uploads/sites/2/2018/05/223_bilder_startseite_525x3502.jpg" width="100%" height="auto">
    </div><!-- .frontpage--content--img -->

    <div class="frontpage-content-text float-left clearfix">
      <h3>FRAGEN ZUM ABLAUF?</h3>
      <p>Hast Du Fragen zum Bicicletta?</p>
      <ul style="margin-top: 10px;">
        <li>Wo kann ich meinen <a href="/lunch/abholorte">Lunch abholen</a>?</li>
        <li>Wo finde ich die <a href="/lunch/beratung">Kontaktangaben</a>?</li>
        <li>Antworten zu häufig gestellten Fragen findest Du auch in <a href="/lunch/faq">unseren FAQ</a>.</li>
      </ul>
      <p>Wir helfen Dir gerne weiter.</p>
    </div><!-- .frontpage--content-text -->


  </div><!-- .frontpage--content--row -->


</div><!-- end .row -->
