@import '../../../sass/mixins.scss';
@import '../../../sass/variables.scss';


/*
    home content ////////////////////////////////////////////////////////////////////////////////////////////////
 */

h2.claim {
    @include font-size(3.2);
    display: block;
    font-weight: $font-weight-light;
    text-align: center;
    padding: 1px 0; /* IE overflow fix */
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
}

.frontpage-content-row {
  margin: 0 0 80px 0;
  width: 100%;
  min-height: 386px;
  clear: both;

}

.frontpage-content {
  img {
    padding:  0 15px 0 15px;
    width: 40%;
    height: auto;
    border-radius: 50%;
    shape-outside: circle(50%);
  }
}

.frontpage-content {
  h3 {
    @include font-size(3.2);
    font-weight: $font-weight-light;
  }
}


@media screen and (max-width: 492px) {

  .frontpage-content {
    img {
      float: none;
      width: 100%;
      margin: 0 0 25px 0;
    }
  }

}
