<div class="row">
  <h2 class="claim">Blockquote. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit.Blockquote. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit.</h2>
</div><!-- end .row -->
<div class="row">
  <h4 *ngIf="(articles | async)?.length>0">{{'LATEST-ARTICLES' | translate}}</h4>
  <h3 *ngIf="(articles | async)?.length==0">{{'NO-ARTICLES-FOUND' | translate}}</h3>
  <div class="product-listing">
    <app-article-template class="product-container" *ngFor="let item of articles | async" [article]="item">
    </app-article-template><!-- end .product-container -->
  </div><!-- end .product-listing -->
</div><!-- end .row -->

<div class="row">
  <h2 class="claim">Blockquote. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit.Blockquote. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit.</h2>
</div><!-- end .row -->
<div class="row">
  <div class="frontpage-content-row clearfix ">
    <div class="frontpage-content">

      <img class="float-left" src="../assets/images/home-1.jpg" width="100%" height="auto">
       <h3>Lorem ipsum</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
          esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
          esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      </div><!-- .frontpage--content -->

  </div><!-- .frontpage--content--row -->
  <div class="frontpage-content-row clearfix">
    <div class="frontpage-content">

      <img class="float-right" src="../assets/images/home-2.jpg" width="100%" height="auto">

      <h3>Lorem ipsum</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div><!-- .frontpage--content -->


  </div><!-- .frontpage--content--row -->


</div><!-- end .row -->
