<h3>{{title}}</h3>


<label for="searchBox">filter</label>
<input #searchBox id="searchBox" (keyup)="search(searchBox.value)"/>
<span *ngIf="(articles$ | async)?.length==0">no records found</span>
<span *ngIf="(articles$ | async)?.length>0">{{(articles$ | async)?.length}} records found</span>




<div *ngIf="articles$ | async">
  <ul >
    <li *ngFor="let article of articles$ | async">
      <div>
        <h4>{{article.brand}}</h4>
        <h5>{{article.name}}</h5>
        <h5>{{article.description}}</h5>
        <h5>{{article.price}} CHF</h5>
        <img src='{{imageURL + article.imageURL}}' style='width: 10%; height: 10%'>
      </div>
    </li>
  </ul>
</div>



