<div class="bg-top-bar">
  <div class="top-bar-nav">
    <app-login-info></app-login-info>
    <app-lang-switch></app-lang-switch>

  </div><!-- end .top-bar-nav -->

  <div class="logo-wrap" (click)="goToHome()">
  <div class="big-letter">E</div>
  <div class="line"><div class="hyphen"></div></div>
  <div class="first-word">The</div>
  <div class="second-word">bike</div>
  <div class="third-word">store</div>
</div><!-- end .bg-top-bar -->

  <div class="row">
<div class="top-bar">
  <div class="top-bar-contact">
    <ul>
      <li>
        <i class="fas fa-phone"></i><a href="tel:+41 44 123 45 67">T +41 44 187 89 65</a>
      </li>
      <li>
        <i class="fas fa-envelope"></i><a href="mailto:info@e-bike-store.ch">info@e-bike-store.ch</a>
      </li>
    </ul>
  </div><!-- end .top-bar-contact -->
  <div id="top-bar-service">
    <ul>

      <li>
        <i class="fas fa-shopping-cart "></i>
        <span class="basket-link"
           [matMenuTriggerFor]="menu" matBadge="{{shoppingBasketService.shoppingBasket?.items.length}}"
           matBadgeOverlap="false" matBadgeSize="medium">{{'SHOPPING-BASKET' | translate}}
            <span *ngIf="shoppingBasketService.shoppingBasket?.totalSum !== null">
                CHF {{shoppingBasketService.shoppingBasket?.totalSum | amountConverter}}
            </span>
          <span *ngIf="shoppingBasketService.shoppingBasket?.totalSum == null">
            0.00
          </span>
        </span>

        <mat-menu #menu="matMenu">
         <div *ngIf="shoppingBasketService.shoppingBasket?.items.length  !== 0">

            <ul *ngFor="let shoppingBasketItem of shoppingBasketService.shoppingBasket?.items let i=index; last as isLast">
              <li *ngIf="i < 4 ">
                <a [routerLink]="['/article-detail/']" [queryParams]="{article:shoppingBasketItem.articleQueryParameter | trim}">
                  {{shoppingBasketItem.articleAmount}}x
                {{shoppingBasketItem.articleName}}</a><br>
               <span class="overview-price">CHF {{shoppingBasketItem.articlePrice}}</span>
              </li>

               <li *ngIf=" isLast && i > 3">
                 und {{shoppingBasketService.shoppingBasket?.items.length - 4 }} weitere(r) Artikel
               </li>

            </ul>

          <br>
           <p *ngIf="shoppingBasketService.shoppingBasket?.totalSum"> <span class="overview-price"><strong>{{'SUBTOTAL' | translate}}</strong></span><br>
             <span class="overview-price">CHF {{shoppingBasketService.shoppingBasket.totalSum | amountConverter}}</span></p>
         <br>
         <a [routerLink]="['/shopping-basket/']">
            <button class="btn form-btn mat-menu-btn"  >
              <i class="fas fa-shopping-cart"></i>{{'SHOPPING-BASKET' | translate}}</button></a>
         </div>
          <div *ngIf="shoppingBasketService.shoppingBasket?.items.length  === 0"  >
            <p>{{'SHOPPING-BASKET-IS-EMPTY' | translate}}</p>
          </div>
        </mat-menu>

      </li>
      <li>
        <app-search></app-search>
      </li>
    </ul>
  </div><!-- end #top-bar-service -->
</div><!-- end #top-bar -->
</div>
</div><!-- end .row -->
