<ng-container *ngIf="isCheckout">
<table class="shopping-basket-table">
  <thead>
  <tr>
    <th>{{'ITEM-NUMBER' | translate}}</th>
    <th>{{'ARTICLE' | translate}}</th>
    <th>{{'PRICE' | translate}}</th>
    <th>{{'AMOUNT' | translate}}</th>
    <th>{{'SUM-ARTICLE' | translate}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let article of shoppingBasketService.getShoppingBasket().items" >
    <td [ngClass]="{'article-row':'article-row', 'de': langSwitch, 'en': !langSwitch}">{{article.itemNumber}}</td>
    <td [ngClass]="{'article-row':'article-row', 'de': langSwitch, 'en': !langSwitch}">{{article.articleName}}</td>
    <td [ngClass]="{'article-row':'article-row', 'de': langSwitch, 'en': !langSwitch}">CHF <span class="amount-spacer">{{article.articlePrice | amountConverter}}</span></td>
    <td [ngClass]="{'article-row':'article-row', 'de': langSwitch, 'en': !langSwitch}" *ngIf="itemChangePossible== true ">
      <form class="add-to-chart">
        <button type="button" role="button" class="minus" name="articleMinus" aria-label="minus"
                (click)="changeItemAmount_ShoppingBasket($event, article.articleID, article.articleName, article.articleAmount-1)">
          <img src="./assets/images/button-minus.gif" alt="button-minus" width="11" height="11"></button>
        <input disabled class="cart-article-count" type="text" name="articleCount"
               [(ngModel)]="article.articleAmount" #articleAmount="ngModel"/>
        <button class="plus" role="button" type="button" name="articlePlus" aria-label="plus"
                (click)="changeItemAmount_ShoppingBasket($event, article.articleID, article.articleName, article.articleAmount+1)">
          <img src="./assets/images/button-plus.gif" alt="button-plus" width="11" height="11"></button>
      </form>

    </td>
    <td [ngClass]="{'article-row':'article-row', 'de': langSwitch, 'en': !langSwitch}" *ngIf="itemChangePossible==false">
     {{article.articleAmount}}
    </td>
    <td [ngClass]="{'article-row':'article-row', 'de': langSwitch, 'en': !langSwitch}" >CHF <span class="amount-spacer">{{article.articlePriceSum | amountConverter}}</span>
      <ng-container *ngIf="itemChangePossible== true ">
      <i class="fa fa-times" aria-hidden="true"
         (click)="confirmDelete($event, article.articleID, article.articleName)"></i>
      </ng-container>
    </td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td colspan="2" class="basket-total-amount">
      <p>
        <span class="result-text">{{'SUBTOTAL' | translate}}</span>
        <span *ngIf="shoppingBasketService.shoppingBasket?.totalSum"> CHF <span class="amount-spacer">{{shoppingBasketService.shoppingBasket?.totalSum | amountConverter}}</span>  </span>
      </p>
      <p><span class="result-text">{{'DELIVERY-COSTS' | translate}}</span>
        <span *ngIf="shoppingBasketService.shoppingBasket?.totalSum"> CHF <span class="amount-spacer">15.00</span> </span>
      </p>
      <p>
        <span class="result-text"><strong>{{'TOTAL' | translate}}</strong></span>
        <span *ngIf="shoppingBasketService.shoppingBasket?.totalSum">
          <strong> CHF <span class="amount-spacer">{{shoppingBasketService.shoppingBasket.totalSum + 15 | amountConverter}}</span> </strong>
      </span>

      </p>

    </td>

  </tr>

  </tfoot>
</table>
</ng-container>

<ng-container *ngIf="!isCheckout">
<table class="shopping-basket-table">
   <thead>
   <tr>
     <th>{{'ITEM-NUMBER' | translate}}</th>
     <th>{{'ARTICLE' | translate}}</th>
     <th>{{'PRICE' | translate}}</th>
     <th>{{'AMOUNT' | translate}}</th>
     <th>{{'SUM-ARTICLE' | translate}}</th>
   </tr>
   </thead>
   <tbody>
   <tr *ngFor="let shoppingBasketItem of order?.shoppingBasket.items">
     <td [ngClass]="{'article-row':'article-row', 'de': langSwitch, 'en': !langSwitch}">
       {{shoppingBasketItem.itemNumber}}
     </td>
     <td [ngClass]="{'article-row':'article-row', 'de': langSwitch, 'en': !langSwitch}">
       {{shoppingBasketItem.articleName}}
     </td>
     <td [ngClass]="{'article-row':'article-row', 'de': langSwitch, 'en': !langSwitch}">
       CHF <span class="amount-spacer">{{shoppingBasketItem.articlePrice | amountConverter}}</span></td>
     <td [ngClass]="{'article-row':'article-row', 'de': langSwitch, 'en': !langSwitch}">
       {{shoppingBasketItem.articleAmount}}
     </td>
     <td [ngClass]="{'article-row':'article-row', 'de': langSwitch, 'en': !langSwitch}">
       CHF <span class="amount-spacer">{{shoppingBasketItem.articlePriceSum | amountConverter}}</span>
     </td>
   </tr>
   </tbody>
   <tfoot>
   <tr>
     <td></td>
     <td></td>
     <td></td>
     <td colspan="2" class="basket-total-amount">
       <p><span class="result-text">{{'DELIVERY-COSTS' | translate}}</span>
         <span> CHF <span class="amount-spacer">15.00</span> </span>
       </p>
       <p>
         <span class="result-text"><strong>{{'TOTAL' | translate}}</strong></span>
         <span>
          <strong> CHF <span
            class="amount-spacer">{{order?.shoppingBasket.totalSum + 15 | amountConverter}}</span> </strong>
      </span>
       </p>
     </td>
   </tr>
   </tfoot>
 </table>
</ng-container>
