<table>
  <thead>
  <tr>
    <th>Nr</th>
    <th>Artikel</th>
    <th>Preis</th>
    <th>Anzahl</th>
    <th>Gesamtsumme</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let article of shoppingBasketService.shoppingBasket?.items">
    <td class="article-row">{{article.itemNumber}}</td>
    <td class="article-row">{{article.articleName}}</td>
    <td class="article-row">CHF {{article.articlePrice | amountConverter}}</td>
    <td class="article-row" *ngIf="itemChangePossible== true ">
      <form id="add-to-chart">
        <button type="button" role="button" id="minus" name="articleMinus"
                (click)="changeItemAmount_ShoppingBasket2($event, article.articleID, article.articleName, article.articleAmount-1)">
          <img src="../assets/images/button-minus.gif" alt="button-minus" width="11" height="11"></button>
        <input disabled class="cart-article-amount" type="text" id="count" name="articleCount"
               [(ngModel)]="article.articleAmount" #articleAmount="ngModel"/>
        <button id="plus" role="button" type="button" name="articlePlus"
                (click)="changeItemAmount_ShoppingBasket2($event, article.articleID, article.articleName, article.articleAmount+1)">
          <img src="../assets/images/button-plus.gif" alt="button-plus" width="11" height="11"></button>
      </form>

    </td>
    <td class="article-row" *ngIf="itemChangePossible==false">
      {{article.articleAmount}}
    </td>
    <td class="article-row ">CHF {{article.articlePriceSum | amountConverter}}
      <i class="fa fa-times" aria-hidden="true"
         (click)="confirmDelete2($event, article.articleID, article.articleName)"></i>
    </td>
  </tr>


  </tbody>
  <tfoot>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <p><span class="result-text">Zwischensumme</span></p>
      <p><span class="result-text">Lieferkosten</span></p>
      <p><span class="result-text"><strong>Gesamtsumme</strong></span></p>
    </td>
    <td>

      <p *ngIf="shoppingBasketService.shoppingBasket?.totalSum">
        <span>CHF {{shoppingBasketService.shoppingBasket?.totalSum | amountConverter}}</span>
      </p>
      <p *ngIf="shoppingBasketService.shoppingBasket?.totalSum">
        <span>CHF 15.00</span>
      </p>
      <p *ngIf="shoppingBasketService.shoppingBasket?.totalSum">
        <strong><span>CHF {{shoppingBasketService.shoppingBasket.totalSum + 15 | amountConverter}}</span></strong>
      </p>
    </td>
  </tr>

  </tfoot>
</table>
