<h4>{{jsonResult}}</h4>


<form class="form login-form" #f="ngForm" (ngSubmit)=" changeItemAmount_ShoppingBasket('xEUehKXKxYo001',6)">
  <button class="btn form-btn" type="submit"><span class="btn-form-text">changeItemAmount</span> </button>
</form>



<div class="row">
  <h2>Warenkorb</h2>
  <div class="cart-items-listing">

    <table>
      <thead>
      <tr>
        <th>Nr </th>
        <th>Artikel</th>
        <th>Preis</th>
        <th>Anzahl</th>
        <th>Gesamtsumme</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let article of shoppingBasket.items">
        <td class="article-row">{{article.itemNumber}}</td>
        <td class="article-row">{{article.articleName}}</td>
        <td class="article-row">CHF {{article.articlePrice | amountConverter}}</td>
        <td class="article-row">
          <form id="add-to-chart" #f="ngForm">
            <button type="button" role="button" id="minus" name="articleMinus" ngDefaultControl [(ngModel)]="articleMinus" >
              <img src="../assets/images/button-minus.gif" alt="button-minus" width="11" height="11"> </button>
            <button type="button" role="button" disabled id="count">{{article.articleAmount}}</button>
            <button id="plus" role="button" type="button" name="articlePlus"  ngDefaultControl [(ngModel)]="articlePlus"   >
              <img src="../assets/images/button-plus.gif" alt="button-plus" width="11" height="11"> </button>
           </form>

        </td>
        <td class="article-row ">CHF {{article.articlePriceSum | amountConverter}}
          <i class="fa fa-times" aria-hidden="true"></i>
        </td>
      </tr>


      </tbody>
      <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <p><span class="result-text" >Zwischensumme</span></p>
          <p><span class="result-text">Lieferkosten</span></p>
          <p><span class="result-text"><strong>Gesamtsumme</strong></span></p>
        </td>
        <td >
          <p><span>CHF {{shoppingBasket.totalSum | amountConverter}}</span></p>
          <p><span>CHF 15.00</span></p>
          <p><strong><span>CHF {{shoppingBasket.totalSum + 15 | amountConverter}}</span></strong></p>
        </td>
      </tr>

      </tfoot>
    </table>

  </div><!-- end .cart-items-listing -->
  <div class="cart-next-wrap float-right">
    <p><button class="btn form-btn"><i class="fas fa-shopping-cart"></i>Zur Kasse</button></p>
    <p><a href="#" class="continue-shopping">Weiter Einkaufen</a></p>
  </div>
</div><!-- end .row -->
