<div class="row">
  <h2>{{'ADMIN' | translate}}</h2>

  <mat-tab-group>

    <mat-tab label="{{'ORDERS' | translate}}">

      <mat-accordion>
        <table class="admin-table" matSort (matSortChange)="sortData($event)">
          <thead>
          <tr>
            <th mat-sort-header="name-order">{{'CUSTOMER' | translate}}</th>
            <th mat-sort-header="date">{{'DATE' | translate}}</th>
            <th mat-sort-header="state">{{'ORDER-STATE' | translate}}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let order of orders | paginate: { itemsPerPage: 6, currentPage: p, id: 'customer-orders' } ">
            <td colspan="3" *ngIf="(order.state =='APPROVED' || order.state =='COMPLETED' || order.state =='CANCELED') ">
              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" >
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <strong>{{'CUSTOMER' | translate}}:&nbsp;</strong>
                    {{order?.deliveryAddress.givenname}}
                    {{order?.deliveryAddress.surname}}
                  </mat-panel-title>
                  <mat-panel-description>
                    <strong>{{'ORDERED-ON' | translate}}</strong>&nbsp;{{order?.orderDate | date:'dd.MM.yyyy'  }}
                  </mat-panel-description>
                  <mat-panel-description>
                    <strong >{{'STATE' | translate}}&nbsp;</strong>{{order?.state | translate }}
                  </mat-panel-description>
                  <mat-panel-description >
                   <p class="warning" #myVar [hidden]="myVar">Bestellung wurde verändert!</p>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                 <div class="admin-order">
                   <form #orderForm="ngForm" class="admin-form ">

                   <div class="admin-customer-data">
                    <h4>{{'PARTICULARS' | translate}}</h4>
                      <input type="hidden" name="_id" [(ngModel)]="order._id" #_id>
                      <input type="hidden" name="userID" [(ngModel)]="order.userID" #userID>
                      <p>
                        <span class="review-data">{{'GIVEN-NAME' | translate}}: </span>
                        <mat-form-field  class="overview-input">
                          <input matInput placeholder=""
                                 (change)="formChange(order._id);"
                                 name="givenname"
                                 [(ngModel)]="order?.deliveryAddress.givenname"
                                 #givenname
                                 required>
                        </mat-form-field>
                      </p>

                      <p><span class="review-data">{{'SURNAME' | translate}}: </span>
                        <mat-form-field  class="overview-input">
                          <input matInput placeholder=""
                                 name="surname"
                                 [(ngModel)]="order?.deliveryAddress.surname"
                                 #surname
                                 required>
                        </mat-form-field>
                      </p>
                      <p><span class="review-data">{{'STREET' | translate}}: </span>
                        <mat-form-field  class="overview-input">
                          <input matInput placeholder=""
                                 name="streetHousenumber"
                                 [(ngModel)]=" order?.deliveryAddress.streetHousenumber"
                                 #streetHousenumber
                                 required>
                        </mat-form-field>
                      </p>
                      <p><span class="review-data">{{'POST-CODE' | translate}}: </span>
                        <mat-form-field  class="overview-input">
                          <input matInput placeholder=""
                                 name="postCode"
                                 [(ngModel)]="order?.deliveryAddress.postCode"
                                 #postCode
                                 required>
                        </mat-form-field>
                      </p>
                      <p><span class="review-data">{{'CITY' | translate}}: </span>
                        <mat-form-field  class="overview-input">
                          <input matInput placeholder=""
                                 name="city"
                                 [(ngModel)]="order?.deliveryAddress.city"
                                 #city
                                 required>
                        </mat-form-field>
                      </p>

                      <p><span class="review-data">{{'E-MAIL' | translate}}: </span>
                        <mat-form-field  class="overview-input">
                          <input matInput placeholder=""
                                 name="email"
                                 [(ngModel)]="order?.contactData.email"
                                 #email
                                 required>
                        </mat-form-field>
                      </p>
                      <p><span class="review-data">{{'PHONE' | translate}}: </span>
                        <mat-form-field  class="overview-input">
                          <input matInput placeholder=""
                                 name="phone"
                                 [(ngModel)]="order?.contactData.phone"
                                 #phone
                                 required>
                        </mat-form-field>
                      </p>

                      <p><span class="review-data">{{'DELIVERY' | translate}}: </span>
                        <mat-form-field  class="overview-input">
                          <input matInput placeholder=""
                                 name="delivery"
                                 [(ngModel)]="order?.deliveryType.delivery"
                                 #delivery
                                 required>
                        </mat-form-field>

                      </p>

                      <p><span class="review-data">{{'PAYING-WITH' | translate}}: </span>
                        <mat-form-field  class="overview-input">
                          <input matInput placeholder=""
                                 name="payment"
                                 [(ngModel)]="order?.paymentType.payment"
                                 #payment
                                 required>
                        </mat-form-field>

                      </p>
                      <br><br>
                      <p>
                        <mat-form-field>
                          <mat-select name="state" placeholder="{{'CHANGE-ORDER-STATE' | translate}}" [(ngModel)]="order.state"  >
                            <mat-option *ngFor="let state of orderState" [value]="state.value">
                              {{state.viewValue}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </p>

                  </div><!-- end .admin-customer-data -->
                  <div class="admin-customer-articles">

                    <h4>{{'ORDERED-ITEMS' | translate}}l</h4>
                    <div class="admin-order-item-listing">
                      <div class="admin-order-item" *ngFor="let articles of order?.shoppingBasket.items">

                        <p class="admin-article-data"><span class="admin-article-attr">{{'ITEM-NUMBER' | translate}}:</span>{{articles.articleID}}</p>
                        <p class="admin-article-data"><span class="admin-article-attr">{{'ARTICLE' | translate}}:</span>{{articles.articleName}}</p>
                        <p class="admin-article-data"><span class="admin-article-attr">{{'AMOUNT' | translate}}:</span>{{articles.articleAmount}}
                        </p>
                        <p class="admin-article-data"><span class="admin-article-attr">{{'PRICE' | translate}}:</span>CHF {{articles.articlePrice | amountConverter}}</p>
                        <p class="admin-article-data"><span class="admin-article-attr">{{'SUM-ARTICLE' | translate}}:</span>CHF {{articles.articlePrice * articles.articleAmount | amountConverter}}</p>
                      </div><!-- end .admin-order-item -->
                    </div><!-- end .admin-order-item-listing -->
                    <p class="admin-article-data"><span class="admin-article-attr">{{'TOTAL' | translate}}</span>CHF {{order?.shoppingBasket.totalSum | amountConverter}}</p>
                   </div><!-- end .admin-customer-articles -->
                   </form>
                </div><!-- end .admin-orders -->
                <p>
                  <button (click)="updateOrder(orderForm)"  class="btn form-btn" type="submit"><i class="fas form-btn"></i>{{'ORDER-SAVE' | translate}}</button>
                  <button (click)="confirmDelete(orderForm, 'orderDelete')"  class="btn form-btn btn-warning" type="submit"><i class="fas form-btn"></i>{{'ORDER-DELETE' | translate}}</button>
                </p>
              </mat-expansion-panel>
            </td>

          </tr>
          </tbody>
          <tfoot>
          <tr><td colspan="3">
            <pagination-controls
              id="customer-orders"
              (pageChange)="p = $event"
              previousLabel="{{'BACK' | translate}}"
              nextLabel="{{'NEXT' | translate}}"></pagination-controls>
          </td></tr>
          </tfoot>
        </table>

      </mat-accordion>


    </mat-tab><!-- end tab Bestellungen -->
    <mat-tab label="{{'USERS' | translate}}">
      <mat-accordion>
        <table class="admin-table" matSort (matSortChange)="sortData($event)">
          <thead>
          <tr>
            <th mat-sort-header="user-name">{{'NAME' | translate}}</th>

          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users | paginate: { itemsPerPage: 6, currentPage: t, id: 'users-data' } ">
            <td >
              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" >
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <strong>{{'USER' | translate}}:&nbsp;</strong>
                    {{user?.name}}
                    {{user?.firstname}}
                  </mat-panel-title>

                </mat-expansion-panel-header>
                <div class="admin-order">
                  <form #userForm="ngForm" class="admin-form ">

                    <div class="admin-customer-data">
                      <h4>{{'PARTICULARS' | translate}}</h4>
                      <input type="hidden" name="user_id" [(ngModel)]="user._id" #user_id>
                      <p>
                        <span class="review-data">{{'NAME' | translate}}: </span>
                        <mat-form-field  class="overview-input">
                          <input matInput placeholder=""
                                 (change)="formChange(user.name);"
                                 name="name"
                                 [(ngModel)]="user.name"
                                 #name
                                 required>
                        </mat-form-field>
                      </p>
                      <p>
                        <span class="review-data">{{'SURNAME' | translate}}: </span>
                        <mat-form-field  class="overview-input">
                          <input matInput placeholder=""
                                 (change)="formChange(user.firstname);"
                                 name="firstname"
                                 [(ngModel)]="user.firstname"
                                 #firstname
                                 required>
                        </mat-form-field>
                      </p>
                      <p>
                        <span class="review-data">{{'E-MAIL' | translate}}: </span>
                        <mat-form-field  class="overview-input">
                          <input matInput placeholder=""
                                 (change)="formChange(user.email);"
                                 name="email"
                                 [(ngModel)]="user.email"
                                 #email
                                 required>
                        </mat-form-field>
                      </p>
                      <p>
                        <span class="review-data">{{'PASSWORD' | translate}}: </span>
                        <mat-form-field  class="overview-input">
                          <input matInput placeholder=""
                                 (change)="formChange(user.pwd);"
                                 name="pwd"
                                 [(ngModel)]="user.pwd"
                                 #pwd
                                 required>
                        </mat-form-field>
                      </p>
                      <p>
                        <span class="review-data">{{'Role' | translate}}: </span>
                        <mat-form-field  class="overview-input">
                          <input matInput placeholder=""
                                 (change)="formChange(user.type);"
                                 name="type"
                                 [(ngModel)]="user.type"
                                 #type
                                 required>
                        </mat-form-field>
                      </p>
                      <p>
                        <mat-form-field>
                          <mat-select name="type" placeholder="{{'CHANGE-USER-TYPE' | translate}}" [(ngModel)]="user.type"  >
                            <mat-option *ngFor="let type of roles" [value]="type.value">
                              {{type.viewValue}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>

                      </p>
                    </div><!-- end .admin-customer-data -->

                  </form>
                </div><!-- end .admin-orders -->
                <p>
                  <button (click)="updateUser(userForm)"  class="btn form-btn" type="submit"><i class="fas form-btn"></i>{{'USER-SAVE' | translate}}</button>
                  <button (click)="confirmDelete(userForm, 'userDelete')"  class="btn form-btn btn-warning" type="submit"><i class="fas form-btn"></i>{{'USER-DELETE' | translate}}</button>
                </p>
              </mat-expansion-panel>
            </td>

          </tr>
          </tbody>
          <tfoot>
          <tr><td>
            <pagination-controls
              id="users-data"
              (pageChange)="t = $event"
              previousLabel="{{'BACK' | translate}}"
              nextLabel="{{'NEXT' | translate}}"></pagination-controls>
          </td></tr>
          </tfoot>
        </table>
      </mat-accordion>
    </mat-tab>

  </mat-tab-group>
</div>
