<form class="form login-form" (ngSubmit)="signin()" >
  <h4>Ich habe bereits ein Konto</h4>
  <label for="login-email">E-Mail</label>
  <input id="login-email" placeholder="E-Mail" type="email" name="login-email" [(ngModel)]="login.email" autocomplete="off" />
  <label for="login-password">Passwort</label>
  <input  id="login-password" placeholder="Passwort" name="login-password"  type="password" [(ngModel)]="login.pwd" autocomplete="off" />
  <button class="btn form-btn" type="submit" ><span class="btn-form-text">Login</span> </button>
</form>


<nav>
  <div><a routerLink='/login'>Login</a></div>
  <div><a routerLink='/admin/user'>admin/User</a></div>
  <div><a routerLink='/admin/product'>admin/Product</a></div>
</nav>
<router-outlet></router-outlet>
<app-info></app-info>
<app-todo></app-todo>

