<div class="row">
  <app-breadcrumb></app-breadcrumb>

  <h2>{{'SHOPPING-BASKET' | translate}}</h2>
  <div *ngIf="shoppingBasketService.shoppingBasket?.items.length !==0">
    <div class="cart-items-listing">

      <app-shopping-basket-listing
        (itemChange)="changeItemAmount_ShoppingBasket($event.articleId, $event.articleName, $event.articleAmount )"
        (deleteItem)="confirmDelete($event.articleId, $event.articleName )" [itemChangePossible]= 'itemChangePossible'>

      </app-shopping-basket-listing>
    </div><!-- end .cart-items-listing -->

    <div class="cart-next-wrap float-right">
      <form #fPay="ngForm" (ngSubmit)="pay(fPay.value)">
        <p>
          <button class="btn form-btn"><i class="fas fa-shopping-cart"></i>Zur Kasse</button>
        </p>
      </form>
      <p><a role="link" routerLink="/article-listing" class="continue-shopping">Weiter Einkaufen</a></p>
    </div>
    <a routerLink="/checkout">Temporärer Link zum Checkout</a>
  </div>
  <p *ngIf="shoppingBasketService.shoppingBasket?.items.length ==0">
    <strong>Ihr Warenkorb ist leer.</strong><br>
    <a role="link" routerLink="/article-listing" class="continue-shopping">Hier</a> gehts zu unseren Artikeln.
  </p>
</div><!-- end .row -->
