<form class="search-form" role="search" method="get" name="search" action="">
  <div class="topNavInput">
    <input class="form-control suchbegriff" placeholder="Nach Artikeln suchen" name="suche" type="text" value="">
    <a class="suchenFormSubmit" href="#"> <i class="fas fa-search"></i></a>
  </div>

</form>
<form class="example-form">

  <mat-form-field class="example-full-width">
    <input matInput placeholder="State" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
        <a  routerLink="/article-detail/{{state.name}}"><span>{{state.name}}</span></a>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
