<form class="example-form" class="search-form" role="search" method="" name="search" action="">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="{{'SEARCH-FOR-ARTICLES' | translate}}" aria-label="['SEARCH-FOR-ARTICLES' | translate]" [matAutocomplete]="auto" [formControl]="stateCtrl" >
    <mat-autocomplete #auto="matAutocomplete" >
      <mat-option *ngFor="let article of articles$ | async" [value]="article.name" (onSelectionChange)="onSelected(article)">
        <a [routerLink]="['/article-detail/']" [queryParams]="{article:article.articleQueryParameter | trim}"><span>{{article.name}}</span></a>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field><i class="fas fa-search"></i>
</form>
