.loginInfoContainer {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: left;
}

.loginInfoContainer__name {
  font-weight: bold;
}


.loginInfoContainer__logout {
  cursor: pointer;

}

