<div class="loginInfoContainer">


  <ng-container *ngIf="userService.getUser()">
    <p>
      <span
        class="loginInfoContainer__name">{{userService.getUser() ?.name  }} {{userService.getUser()?.firstname}}
      </span>
      <i title="log out" *ngIf="userService.getUser()?.token" (click)="onLogOut()"
         class="fas fa-sign-out-alt loginInfoContainer__logout"></i>
    </p>
    <p *ngIf="userService.getUser()?.type ==='admin'">
      <a href="#" class="white" routerLink="/admin/overview">{{'GO-TO-ADMIN' | translate}}</a>
    </p>
  </ng-container>

  <ng-container *ngIf="!userService.getUser()">
    <p class="loginInfoContainer__logout" (click)="onGoToLogIn()">Mein Konto
      <i title="log in"
         class="fas fa-user-circle "></i>
    </p>
  </ng-container>

</div>




