@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Archivo:400,700');

@import './sass/mixins';
@import './sass/variables';
@import './sass/animations';
@import './sass/custom-material-theme';
@import './sass/angular-material';

  /*
      resets  /////////////////////////////////////////////////////////////////////////////////////////////////////////
   */

  * {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
  }

  *  {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .hover {
    -webkit-user-select: none;
    -webkit-touch-callout: none;

  }

  img {
    border: 0;
  }

  /*
      construct  /////////////////////////////////////////////////////////////////////////////////////////////////////////
   */

  html, body {
    height: 100%;
    font-size: $base-font-size;

  }

  body {
    font-family: $base-font-family;
    font-weight: $font-weight-light;
    @include flex;
    justify-content: center;
    color: $font-color;
  }


  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-gap: 1px;
    grid-template-areas: "header" "content" "footer";
    width: 100%;
    height: 100%;

  }

  header {
    grid-area: header;
    margin: 0 0 35px 0;
    background: $orange;

  }

  section.content {
    grid-area: content;
  }

  footer {
    grid-area: footer;
    background-color: $orange;
  }

  button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
  }

  /*
      fonts, list items /////////////////////////////////////////////////////////////////////////////////////////////////////////
   */

  h1, h2, h3, h4 {
    font-weight: $font-weight-medium;
    margin: 0 0 2rem;
  }

  h1 {
    @include font-size($sizeValue:4.2);
  }

  h2 {
    @include font-size($sizeValue:3.2);


  }

  h3 {
    @include font-size($sizeValue:2.8);

  }

  h4 {
    @include font-size($sizeValue:2);
    font-weight: $font-weight-medium;
  }

  p {
    @include base-font-style();
    font-weight: $font-weight-light;
  }

  a {
    text-decoration: none;
    color: $green;
  }

  a:hover {
    color:  #000;
  }

  li {
    @include base-font-style();
    list-style-type: none;
  }

/*
    rows, cols ////////////////////////////////////////////////////////////////////////////////////////////////
 */

.row {
  max-width:1220px;
  margin: 0 auto;
  padding: 0 10px;

}
.content {
  .row {
    margin: 0 auto 45px auto;
  }
}

.article-listing {
  @include flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 -10px;
}

.article-container {
  padding: 0 5px;
  margin: 0 0 10px 0;
  width: 25%;
}


/*
    buttons  ////////////////////////////////////////////////////////////////////////////////////////////////
 */
button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: inherit;
}

a.btn, button.btn {
  display: block;
  @include base-font-style();
  font-weight: $font-weight-light;
  text-align: center;
  color: #fff;
  width: 100%;
  padding: 15px 0;
  margin: 15px 0;
  background-color: $green;
  cursor:pointer;


}

a.btn:hover, .form-btn:hover {
  color: #000;
}

.prod-listing::after, .btn-form-text::after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  line-height: inherit;
  vertical-align: baseline;
  content: "\f061";
  margin: 0 0 0 25px;
}

.form-btn {
  max-width: 250px;
}

.btn-confirm-wrap {
  display: flex;
  justify-content: space-around;
}

button.btn-confirm {
  width: 45%;
}

button.btn-warning {
  background-color: $color-error;

}

/*
    forms ////////////////////////////////////////////////////////////////////////////////////////////////
 */

label {
  display: block;
  @include font-size($sizeValue:1.4);
  width: 100%;
}

input {
  @include font-size($sizeValue:1.6);
  @include line-height($heightValue:2.4);
  margin: 5px 0 15px 0;
  padding: 5px;
  width: 100%;
  border: 1px solid #ccc;
}

select {
  border: 1px solid #ccc;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ccc;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ccc;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #ccc;
}

@media screen and (max-width: 590px){
  .login-form {
    margin: 0 0 25px 0;
    padding: 0 0 15px 0;
    border-right: 0 solid transparent;
    border-bottom: 1px solid #ccc;
  }
  .login-form, .new-account-form {
    width: 100%;
  }

  .login-form-wrap {
    flex-direction: column;
  }
}

/*
    messages ////////////////////////////////////////////////////////////////////////////////////////////////
 */
.alert {
  text-align: center;
  padding: 10px;
}

.danger {
  color: #fff;
  border: 1px solid $color-error;
  background-color: $color-error;
}

.mat-simple-snackbar {
  @include font-size($sizeValue:2.4);
  @include line-height($heightValue:3.5 );
  color: #ffffff;
  width: 100%;
  min-height: 50px;
}

.snackbar-info {
  background: $color-info;
}
.snackbar-warning {
  background: $color-warning;
}
.snackbar-error {
  background: $color-error;
}
/*
    misc ////////////////////////////////////////////////////////////////////////////////////////////////
 */

.fas, .far {
  margin: 0 0.5em 0;
}

.fa-search {
  margin: 10px 5px 0 0;
}

.fa-shopping-cart {
  padding: 0;
}

.fa-star {
  color: gold;
}


.fa-thumbs-up, .fa-thumbs-down {
  margin: 0 0.5em 0 0.5em;
}
.fa-times {
  @include base-font-style();
  color: $color-error;
  float:right;
  cursor: pointer;
}
.no-bg {
  background-color: transparent;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.warning{
  color: $color-error;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.white {
  color: #ffffff;
}

.form-icon {
  margin: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

