<div class="row">
  <app-breadcrumb></app-breadcrumb>

  <h2>Meine Bestellung</h2>
<mat-vertical-stepper [linear]="isLinear" #stepper>

  <mat-step [stepControl]="deliveryAdress">
    <ng-template matStepLabel>Lieferadresse</ng-template>
    <form [formGroup]="deliveryAdress">
       <mat-form-field>
        <input matInput placeholder="Vorname" formControlName="vorname" required>
      </mat-form-field><br>
       <mat-form-field>
         <input matInput placeholder="Nachname" formControlName="nachname" required>
       </mat-form-field><br>
      <mat-form-field>
        <input matInput placeholder="Strasse und Hausnummer" formControlName="strasse" required>
      </mat-form-field><br>
      <mat-form-field>
        <input matInput placeholder="Postleitzahl" maxlength="4" minlength="4" formControlName="plz" required>
      </mat-form-field><br>
      <mat-form-field>
        <input matInput placeholder="Stadt" formControlName="stadt" required>
      </mat-form-field><br>
      <button mat-button matStepperNext class="matStepperNext">{{'NEXT' | translate}}</button>

    </form>
  </mat-step>

  <mat-step [stepControl]="contactData">
    <ng-template matStepLabel>Kontaktdaten</ng-template>
    <form [formGroup]="contactData">
      <mat-form-field>
        <input matInput placeholder="E-Mail" formControlName="email" required>
      </mat-form-field><br>
      <mat-form-field>
        <input matInput placeholder="Telefonnummer" formControlName="telefonnummer" required>
      </mat-form-field><br>
      <button mat-button matStepperPrevious class="matStepperPrevious">{{'BACK' | translate}}</button>
      <button mat-button matStepperNext class="matStepperNext">{{'NEXT' | translate}}</button>
    </form>
  </mat-step>

  <mat-step [stepControl]="delieveryType"><ng-template matStepLabel>Versandart</ng-template>
    <form [formGroup]="delieveryType"  >
      <p>Wir versenden ausschliesslich mit der Schweizer Post.</p><br>
      <mat-radio-group >
        <mat-radio-button value="priority" ngDefaultControl name="delievery" formControlName="priority">PostPac Priority</mat-radio-button><br>
        <mat-radio-button value="economy" ngDefaultControl name="delievery" formControlName="economy">PostPac Economy</mat-radio-button><br>

      </mat-radio-group><br>
        <button mat-button matStepperPrevious class="matStepperPrevious">{{'BACK' | translate}}</button>
        <button mat-button matStepperNext class="matStepperNext">{{'NEXT' | translate}}</button>
     </form>
  </mat-step>
  <mat-step [stepControl]="paymentType"><ng-template matStepLabel>Bezahlen mit</ng-template>
    <form [formGroup]="paymentType">
      <mat-radio-group>
        <mat-radio-button value="paypal" ngDefaultControl formControlName="paypal">Paypal</mat-radio-button><br>
        <mat-radio-button value="mastecard" ngDefaultControl formControlName="mastercard">Mastercard</mat-radio-button><br>
        <mat-radio-button value="visa" ngDefaultControl formControlName="visa">Visa</mat-radio-button>

      </mat-radio-group><br>
      <button mat-button matStepperPrevious class="matStepperPrevious">{{'BACK' | translate}}</button>
      <button mat-button matStepperNext class="matStepperNext">{{'NEXT' | translate}}</button>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Übersicht</ng-template>
    <div id="order-review">
      <h4>Meine Bestelldaten</h4>
      <p><span>Vorname: </span>{{deliveryAdress.getRawValue().vorname}}</p>
      <p><span>Nachname: </span>{{deliveryAdress.getRawValue().nachname}}</p>
      <p><span>Strasse: </span>{{deliveryAdress.getRawValue().strasse}}</p>
      <p><span>Postleitzahl: </span>{{deliveryAdress.getRawValue().plz}}</p>
      <p><span>Stadt: </span>{{deliveryAdress.getRawValue().stadt}}</p>
      <br>
      <p><span>E-Mail: </span>{{contactData.getRawValue().email}}</p>
      <p><span>Telefonnummer: </span>{{contactData.getRawValue().telefonnummer}}</p>
      <br>
      <p *ngIf="delieveryType.getRawValue().economy =='on'"><span>Versandart:  </span>PostPac Economy </p>
      <p *ngIf="delieveryType.getRawValue().priority =='on'"><span>Versandart: </span> PostPac Priority</p>
      <br>
      <p *ngIf="paymentType.getRawValue().paypal =='on'"><span>Versandart:  </span>PayPal</p>
      <p *ngIf="paymentType.getRawValue().mastercard =='on'"><span>Versandart:  </span>Mastercard</p>
      <p *ngIf="paymentType.getRawValue().visa =='on'"><span>Versandart:  </span>Visa</p>
      <br>
    </div>
    <div>

     <app-shopping-basket-listing [itemChangePossible]= 'itemChangePossible'></app-shopping-basket-listing>

    </div><!-- end article listing -->
    <div>
      <button mat-button matStepperPrevious class="matStepperPrevious">{{'BACK' | translate}}</button>
      <button mat-button (click)="stepper.reset()" class="matStepperReset">Reset</button>
      <p>
        <button class="btn form-btn" type="submit" (click)="placeOrder()"><i class="fas form-btn"></i>Jetzt bestellen</button>
      </p>
    </div>
  </mat-step>

</mat-vertical-stepper>
</div><!-- end .row -->
