@import '../../../sass/mixins.scss';
@import '../../../sass/variables.scss';


/*
    checkout ////////////////////////////////////////////////////////////////////////////////////////////////
 */

.cart-next-wrap {
  float: right;
  width: 250px;
  margin: 50px 0 0 0;

}

.order-review span, .review-data {
  font-weight: $font-weight-bold;
  display: inline-block;
  width: 150px;
  margin: 10px 0 0 0;
}
.checkout-nav {
  @include flex;
  justify-content: space-between;
 }

@media screen and (max-width: 420px){
  #checkout-review{
    margin: 0 0 0 -56px;
  }
}
