<div class="row">
  <app-breadcrumb></app-breadcrumb>

  <h2>{{'MY-ORDER' | translate}}</h2>
  <mat-vertical-stepper [linear]="isLinear" #stepper (selectionChange)="onStepChange($event)">

    <mat-step [stepControl]="deliveryAdress">
      <ng-template matStepLabel>{{'DELIVERY-ADDRESS' | translate}}</ng-template>
      <form [formGroup]="deliveryAdress">
        <mat-form-field>
          <input matInput placeholder="{{'GIVEN-NAME' | translate}}" formControlName="vorname" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="{{'SURNAME' | translate}}" formControlName="nachname" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="{{'STREET-AND-HOUSE-NUMBER' | translate}}" formControlName="strasse" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="{{'POST-CODE' | translate}}" maxlength="4" minlength="4" formControlName="plz"
                 required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="{{'CITY' | translate}}" formControlName="stadt" required>
        </mat-form-field>
        <br>
        <div class="checkout-nav">
          <button mat-button matStepperNext class="matStepperNext">{{'NEXT' | translate}}</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="contactData">
      <ng-template matStepLabel>{{'CONTACT-DETAILS' | translate}}</ng-template>
      <form [formGroup]="contactData">
        <mat-form-field>
          <input matInput placeholder="{{'E-MAIL' | translate}}" formControlName="email" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="{{'PHONE' | translate}}" formControlName="telefonnummer" required>
        </mat-form-field>
        <br>
        <div class="checkout-nav">
          <button mat-button matStepperPrevious class="matStepperPrevious">{{'BACK' | translate}}</button>
          <button mat-button matStepperNext class="matStepperNext">{{'NEXT' | translate}}</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="deliveryType">
      <ng-template matStepLabel>{{'DELIVERY' | translate}}</ng-template>
      <form [formGroup]="deliveryType">
        <p>{{'WE-SHIP-EXCLUSIVELY-WITH-SWISS-POST' | translate}}.</p><br>
        <mat-radio-group>
          <mat-radio-button value="priority" ngDefaultControl name="delivery" formControlName="priority">PostPac
            Priority
          </mat-radio-button>
          <br>
          <mat-radio-button value="economy" ngDefaultControl name="delivery" formControlName="economy">PostPac
            Economy
          </mat-radio-button>
          <br>

        </mat-radio-group>
        <br>
        <div class="checkout-nav">
          <button mat-button matStepperPrevious class="matStepperPrevious">{{'BACK' | translate}}</button>
          <button mat-button matStepperNext class="matStepperNext">{{'NEXT' | translate}}</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="paymentType">
      <ng-template matStepLabel>{{'PAYING-WITH' | translate}}</ng-template>
      <form [formGroup]="paymentType">
        <mat-radio-group>
          <mat-radio-button value="paypal" ngDefaultControl formControlName="paypal">Paypal</mat-radio-button>
          <br>
          <mat-radio-button value="mastecard" ngDefaultControl formControlName="mastercard">Mastercard
          </mat-radio-button>
          <br>
          <mat-radio-button value="visa" ngDefaultControl formControlName="visa">Visa</mat-radio-button>

        </mat-radio-group>
        <br>
        <div class="checkout-nav">
          <button mat-button matStepperPrevious class="matStepperPrevious">{{'BACK' | translate}}</button>
          <button mat-button matStepperNext class="matStepperNext">{{'NEXT' | translate}}</button>
        </div>
      </form>
    </mat-step>
    <mat-step id="checkout-review">
      <ng-template matStepLabel>{{'OVERVIEW' | translate}}</ng-template>
      <div id="order-review">
        <br>
        <h4>{{'MY-ORDER-DATA' | translate}}</h4>
        <p><span>{{'GIVEN-NAME' | translate}}: </span>{{deliveryAdress.getRawValue().vorname}}</p>
        <p><span>{{'SURNAME' | translate}}: </span>{{deliveryAdress.getRawValue().nachname}}</p>
        <p><span>{{'STREET' | translate}}: </span>{{deliveryAdress.getRawValue().strasse}}</p>
        <p><span>{{'POST-CODE' | translate}}: </span>{{deliveryAdress.getRawValue().plz}}</p>
        <p><span>{{'CITY' | translate}}: </span>{{deliveryAdress.getRawValue().stadt}}</p>
        <br>
        <p><span>{{'E-MAIL' | translate}}: </span>{{contactData.getRawValue().email}}</p>
        <p><span>{{'PHONE' | translate}}: </span>{{contactData.getRawValue().telefonnummer}}</p>
        <br>
        <p *ngIf="deliveryType.getRawValue().economy =='on'"><span>{{'DELIVERY' | translate}}:  </span>PostPac Economy
        </p>
        <p *ngIf="deliveryType.getRawValue().priority =='on'"><span>{{'DELIVERY' | translate}}: </span> PostPac
          Priority</p>
        <br>
        <p *ngIf="paymentType.getRawValue().paypal =='on'"><span>{{'DELIVERY' | translate}}:  </span>PayPal</p>
        <p *ngIf="paymentType.getRawValue().mastercard =='on'"><span>{{'DELIVERY' | translate}}:  </span>Mastercard</p>
        <p *ngIf="paymentType.getRawValue().visa =='on'"><span>{{'DELIVERY' | translate}}:  </span>Visa</p>
        <br>
      </div>
      <div>

        <app-shopping-basket-listing [itemChangePossible]='itemChangePossible'></app-shopping-basket-listing>

      </div><!-- end article listing -->
      <div class="cart-next-wrap">
        <div class="checkout-nav">
          <button mat-button matStepperPrevious class="matStepperPrevious">{{'BACK' | translate}}</button>
          <button mat-button (click)="stepper.reset()" class="matStepperReset">{{'RESET' | translate}}</button>
        </div>
        <form #fCreateOrder="ngForm" (ngSubmit)="createOrder()">
          <p>
            <button class="btn form-btn" type="submit"><i class="fas form-btn"></i>{{'ORDER-NOW' | translate}}</button>
          </p>
        </form>
      </div>
    </mat-step>

  </mat-vertical-stepper>
</div><!-- end .row -->
