<div *ngIf="loading" class="loader"></div>
  <div class="product-content" (click)="goToDetail(article.articleQueryParameter)">

    <img [hidden]="loading" (load)="onLoad()" class="product-img" src="{{imageURL + article.imageURL}}" width="100%" height="auto"/>

    <div class="product-data">
      <p><span class="product-listing-title">{{article.name}}</span><br>
        <span class="product-listing-descr">{{article.brand}}</span><br>
        <span class="product-listing-price">CHF {{article.price}}</span>
      </p>
      <a class="btn prod-listing" type="button" role="button"  aria-label="Zum Artikel"
         [routerLink]="['/article-detail/']" [queryParams]="{article:article.articleQueryParameter | trim}" >{{'VIEW-ARTICLE' | translate}}</a>
    </div><!-- end .product-data -->
  </div><!-- end .product-content -->


