<div class="row">
  <app-breadcrumb></app-breadcrumb>
  <h2>{{'MY-ACCOUNT' | translate}}</h2>
  <div class="login-form-wrap">
    <form [formGroup]="account" class="form login-form" (ngSubmit)="onLogin()">
      <h4>{{'I-ALREADY-HAVE-AN-ACCOUNT' | translate}}</h4>
      <mat-form-field>
        <input matInput type="email" placeholder="{{'E-MAIL' | translate}}" formControlName="email" required autocomplete="off">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="{{'PASSWORD' | translate}}" formControlName="pwd" required autocomplete="off">
      </mat-form-field>
      <br>
      <button class="btn form-btn" type="submit"><span class="btn-form-text">{{'LOGIN' | translate}}</span> </button>
    </form>
    <form [formGroup]="accountNew" class="form new-account-form" (ngSubmit)="onCreate()">
      <h4>{{'CREATE-NEW-ACCOUNT' | translate}}</h4>
      <mat-form-field>
        <input matInput placeholder="{{'GIVEN-NAME' | translate}}" formControlName="name" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="{{'SURNAME' | translate}}" formControlName="firstname" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="email" placeholder="{{'MY-E-MAIL' | translate}}" formControlName="email" required autocomplete="off">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="{{'MY-PASSWORD' | translate}}" formControlName="pwd" required autocomplete="off">
      </mat-form-field>
      <br>
      <button class="btn form-btn" type="submit"><span class="btn-form-text"> {{'CREATE-ACCOUNT' | translate}}</span></button>
    </form>
  </div>
</div><!-- end .row -->
